<h1>About Me</h1>

<h2>Professional Background</h2>
<p>I am developing experience in Ruby on Rails, JavaScript, and design. I specialize as a data analyst working to provide execellent experiences.</p>

<h2>Technical Skills</h2>
<ul>
    <li>Ruby on Rails<li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>PostgreSQL/MySQL</li>
    <li>GitHub</li>
    <li>Visual Studio Code</li>
</ul>

<h2>Education</h2>
<p>Working for Bachelor's Degree in Computer Science - University of Memphis</p>

<h2>Achievements</h2>
<ul>
    <li>Object Oriented Programming</li>
    <li>Discrete Structures</li>
</ul>

<a href="index.html">Home</a>
<a href="about.html">About</a>
<a href="work.html">Work</a>
<link rel="stylesheet" href="styles.css">